In [1]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("warcoder/dog-breeds-details")

print("Path to dataset files:", path)

c:\Users\karen\miniconda3\envs\dev\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Path to dataset files: C:\Users\karen\.cache\kagglehub\datasets\warcoder\dog-breeds-details\versions\1

In [2]:
import pandas as pd

# Load the dataset
df = pd.read_csv(path + "/dog_breeds.csv")
df['Name'] = df['Name'].str.lower()
df.head()

,Name,min_life_expectancy,max_life_expectancy,max_height_male,max_height_female,max_weight_male,max_weight_female,min_height_male,min_height_female,min_weight_male,...,shedding,grooming,drooling,coat_length,good_with_strangers,playfulness,protectiveness,trainability,energy,barking
0,golden retriever,10,12,24.0,24.0,75.0,65.0,23.0,23.0,65.0,...,4,2,2,1,5,4,3,5,3,1
1,dachshund,12,16,9.0,9.0,32.0,32.0,8.0,8.0,16.0,...,2,2,2,2,4,4,4,4,3,5
2,labrador retriever,10,12,24.5,24.5,80.0,70.0,22.5,22.5,65.0,...,4,2,2,1,5,5,3,5,5,3
3,great dane,7,10,32.0,32.0,175.0,140.0,30.0,30.0,140.0,...,3,1,4,1,3,4,5,3,4,3
4,boxer,10,12,25.0,25.0,80.0,65.0,23.0,23.0,65.0,...,2,2,3,1,4,4,4,4,4,3

In [3]:
from dotenv import load_dotenv
from pprint import pprint
import os

load_dotenv()
dog_api_key = os.getenv("DOG_API_KEY")

import requests

results = requests.get(f"https://api.thedogapi.com/v1/breeds")
results = results.json()
df_dog_data = [{'Name': x['name'].lower(), 'Dog_api_id': x['id']} for x in results]
df_dog_data = pd.DataFrame(df_dog_data)
df_dog_data.head()

                  Name  Dog_api_id
0        affenpinscher           1
1         afghan hound           2
2  african hunting dog           3
3     airedale terrier           4
4           akbash dog           5

In [4]:
df_merged = pd.merge(df, df_dog_data, on='Name', how='inner')
df_merged.head(10)

,Name,min_life_expectancy,max_life_expectancy,max_height_male,max_height_female,max_weight_male,max_weight_female,min_height_male,min_height_female,min_weight_male,...,grooming,drooling,coat_length,good_with_strangers,playfulness,protectiveness,trainability,energy,barking,Dog_api_id
0,golden retriever,10,12,24.0,24.0,75.0,65.0,23.0,23.0,65.0,...,2,2,1,5,4,3,5,3,1,121
1,labrador retriever,10,12,24.5,24.5,80.0,70.0,22.5,22.5,65.0,...,2,2,1,5,5,3,5,5,3,149
2,great dane,7,10,32.0,32.0,175.0,140.0,30.0,30.0,140.0,...,1,4,1,3,4,5,3,4,3,124
3,boxer,10,12,25.0,25.0,80.0,65.0,23.0,23.0,65.0,...,2,3,1,4,4,4,4,4,3,55
4,dalmatian,11,13,24.0,24.0,70.0,70.0,19.0,19.0,45.0,...,2,2,1,4,4,4,4,4,3,92
5,poodle (miniature),10,18,15.0,15.0,15.0,15.0,10.0,10.0,10.0,...,4,1,1,5,5,3,5,4,4,196
6,bullmastiff,7,9,27.0,27.0,130.0,120.0,25.0,25.0,110.0,...,1,3,1,3,3,5,4,4,1,64
7,beagle,10,15,16.0,15.0,20.0,30.0,14.0,13.0,15.0,...,2,1,1,3,4,2,3,4,4,31
8,border collie,12,15,22.0,22.0,55.0,55.0,19.0,19.0,30.0,...,3,1,1,4,5,3,5,5,4,50
9,siberian husky,12,14,23.5,23.5,60.0,50.0,21.0,21.0,45.0,...,2,1,1,5,5,1,3,5,5,226

In [5]:
df_merged.shape

(82, 24)

In [6]:
df_merged.to_csv("../data/dog_breeds_merged.csv", index=False)

In [7]:
df_merged.columns

Index(['Name', 'min_life_expectancy', 'max_life_expectancy', 'max_height_male',
       'max_height_female', 'max_weight_male', 'max_weight_female',
       'min_height_male', 'min_height_female', 'min_weight_male',
       'min_weight_female', 'good_with_children', 'good_with_other_dogs',
       'shedding', 'grooming', 'drooling', 'coat_length',
       'good_with_strangers', 'playfulness', 'protectiveness', 'trainability',
       'energy', 'barking', 'Dog_api_id'],
      dtype='object')

In [145]:
df_akc = pd.read_csv('../data/akc-dog-api-merged.csv')
df_akc.head()

,Name,description,temperament,popularity,min_height,max_height,min_weight,max_weight,min_expectancy,max_expectancy,...,grooming_frequency_category,shedding_value,shedding_category,energy_level_value,energy_level_category,trainability_value,trainability_category,demeanor_value,demeanor_category,Dog_api_id
0,affenpinscher,The Affen’s apish look has been described many...,"Confident, Famously Funny, Fearless",148,22.86,29.21,3.175147,4.535924,12.0,15.0,...,2-3 Times a Week Brushing,0.6,Seasonal,0.6,Regular Exercise,0.8,Easy Training,1.0,Outgoing,1
1,afghan hound,"The Afghan Hound is an ancient breed, his whol...","Dignified, Profoundly Loyal, Aristocratic",113,63.50,68.58,22.679619,27.215542,12.0,15.0,...,Daily Brushing,0.2,Infrequent,0.8,Energetic,0.2,May be Stubborn,0.2,Aloof/Wary,2
2,airedale terrier,The Airedale Terrier is the largest of all ter...,"Friendly, Clever, Courageous",60,58.42,58.42,22.679619,31.751466,11.0,14.0,...,2-3 Times a Week Brushing,0.4,Occasional,0.6,Regular Exercise,1.0,Eager to Please,0.8,Friendly,4
3,akita,"Akitas are burly, heavy-boned spitz-type dogs ...","Courageous, Dignified, Profoundly Loyal",47,60.96,71.12,31.751466,58.967008,10.0,13.0,...,Daily Brushing,0.6,Seasonal,0.8,Energetic,1.0,Eager to Please,0.6,Alert/Responsive,6
4,alaskan malamute,The Alaskan Malamute stands 23 to 25 inches at...,"Affectionate, Loyal, Playful",58,58.42,63.50,34.019428,38.555351,10.0,14.0,...,2-3 Times a Week Brushing,0.6,Seasonal,0.8,Energetic,0.4,Independent,0.8,Friendly,9

In [146]:
df_merged2 = pd.merge(df_merged, df_akc[[
    'Name', 'description', 'popularity', 'temperament', 'grooming_frequency_category', 'shedding_category', 
    'energy_level_category', 'trainability_category', 'demeanor_category', 'min_height', 'max_height',
    'min_weight', 'max_weight', 'max_expectancy'
]], on='Name', how='inner')
df_merged2.head()

,Name,min_life_expectancy,max_life_expectancy,max_height_male,max_height_female,max_weight_male,max_weight_female,min_height_male,min_height_female,min_weight_male,...,grooming_frequency_category,shedding_category,energy_level_category,trainability_category,demeanor_category,min_height,max_height,min_weight,max_weight,max_expectancy
0,golden retriever,10,12,24.0,24.0,75.0,65.0,23.0,23.0,65.0,...,Weekly Brushing,Seasonal,Needs Lots of Activity,Eager to Please,Friendly,54.61,60.96,24.947580,34.019428,12.0
1,labrador retriever,10,12,24.5,24.5,80.0,70.0,22.5,22.5,65.0,...,Weekly Brushing,Regularly,Needs Lots of Activity,Eager to Please,Outgoing,54.61,62.23,24.947580,36.287390,12.0
2,great dane,7,10,32.0,32.0,175.0,140.0,30.0,30.0,140.0,...,Occasional Bath/Brush,Seasonal,Energetic,Agreeable,Alert/Responsive,71.12,81.28,49.895161,79.378665,10.0
3,boxer,10,12,25.0,25.0,80.0,65.0,23.0,23.0,65.0,...,Weekly Brushing,Occasional,Energetic,Easy Training,Outgoing,54.61,63.50,6.803886,36.287390,12.0
4,dalmatian,11,13,24.0,24.0,70.0,70.0,19.0,19.0,45.0,...,Weekly Brushing,Frequent,Energetic,Agreeable,Alert/Responsive,48.26,60.96,20.411657,31.751466,13.0

In [147]:
df_merged2.drop(columns=[
    'shedding', 'grooming', 'drooling', 'coat_length', 'trainability', 
       'energy', 'min_life_expectancy', 'max_height_male',
       'max_height_female', 'max_weight_male', 'max_weight_female',
       'min_height_male', 'min_height_female', 'min_weight_male',
       'min_weight_female', 'max_expectancy'
], inplace=True)
df_merged2.head()

,Name,max_life_expectancy,good_with_children,good_with_other_dogs,good_with_strangers,playfulness,protectiveness,barking,Dog_api_id,description,...,temperament,grooming_frequency_category,shedding_category,energy_level_category,trainability_category,demeanor_category,min_height,max_height,min_weight,max_weight
0,golden retriever,12,5,5,5,4,3,1,121,"The Golden Retriever is a sturdy, muscular dog...",...,"Friendly, Intelligent, Devoted",Weekly Brushing,Seasonal,Needs Lots of Activity,Eager to Please,Friendly,54.61,60.96,24.947580,34.019428
1,labrador retriever,12,5,5,5,5,3,3,149,"The sturdy, well-balanced Labrador Retriever c...",...,"Friendly, Active, Outgoing",Weekly Brushing,Regularly,Needs Lots of Activity,Eager to Please,Outgoing,54.61,62.23,24.947580,36.287390
2,great dane,10,3,3,3,4,5,3,124,"As tall as 32 inches at the shoulder, Danes to...",...,"Friendly, Patient, Dependable",Occasional Bath/Brush,Seasonal,Energetic,Agreeable,Alert/Responsive,71.12,81.28,49.895161,79.378665
3,boxer,12,5,3,4,4,4,3,55,A well-made Boxer in peak condition is an awes...,...,"Bright, Fun-Loving, Active",Weekly Brushing,Occasional,Energetic,Easy Training,Outgoing,54.61,63.50,6.803886,36.287390
4,dalmatian,13,3,3,4,4,4,3,92,"The Dalmatian’s delightful, eye-catching spots...",...,"Dignified, Smart, Outgoing",Weekly Brushing,Frequent,Energetic,Agreeable,Alert/Responsive,48.26,60.96,20.411657,31.751466

In [148]:
# make column with size of the dog from max_height and max_weight
df_merged2['size'] = df_merged2['max_height'] * df_merged2['max_weight']

# bin the size into 5 text categories
df_merged2['size'] = pd.cut(df_merged2['size'], bins=5, labels=['small', 'medium-small', 'medium', 'medium-large', 'large'])

# bin popularit into 5 text categories
df_merged2['popularity'] = pd.to_numeric(df_merged2['popularity'], errors='coerce')
df_merged2['popularity'].astype('float64')
df_merged2['popularity'].fillna(df_merged2['popularity'].median(), inplace=True)
df_merged2['popularity'] = pd.cut(df_merged2['popularity'], bins=5, labels=['very low', 'low', 'medium', 'high', 'very high'])

for col in df_merged2.select_dtypes(include=['object']):
    df_merged2[col] = df_merged2[col].fillna("unknown")

df_merged2.drop(columns=['min_height', 'max_height', 'min_weight', 'max_weight'], inplace=True)
df_merged2.head()

C:\Users\karen\AppData\Local\Temp\ipykernel_5156\727674337.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_merged2['popularity'].fillna(df_merged2['popularity'].median(), inplace=True)

,Name,max_life_expectancy,good_with_children,good_with_other_dogs,good_with_strangers,playfulness,protectiveness,barking,Dog_api_id,description,popularity,temperament,grooming_frequency_category,shedding_category,energy_level_category,trainability_category,demeanor_category,size
0,golden retriever,12,5,5,5,4,3,1,121,"The Golden Retriever is a sturdy, muscular dog...",very low,"Friendly, Intelligent, Devoted",Weekly Brushing,Seasonal,Needs Lots of Activity,Eager to Please,Friendly,medium-small
1,labrador retriever,12,5,5,5,5,3,3,149,"The sturdy, well-balanced Labrador Retriever c...",very low,"Friendly, Active, Outgoing",Weekly Brushing,Regularly,Needs Lots of Activity,Eager to Please,Outgoing,medium-small
2,great dane,10,3,3,3,4,5,3,124,"As tall as 32 inches at the shoulder, Danes to...",very low,"Friendly, Patient, Dependable",Occasional Bath/Brush,Seasonal,Energetic,Agreeable,Alert/Responsive,large
3,boxer,12,5,3,4,4,4,3,55,A well-made Boxer in peak condition is an awes...,very low,"Bright, Fun-Loving, Active",Weekly Brushing,Occasional,Energetic,Easy Training,Outgoing,medium-small
4,dalmatian,13,3,3,4,4,4,3,92,"The Dalmatian’s delightful, eye-catching spots...",low,"Dignified, Smart, Outgoing",Weekly Brushing,Frequent,Energetic,Agreeable,Alert/Responsive,medium-small

In [150]:
df_merged2['trainability_category'].value_counts()

trainability_category
Agreeable          26
Independent        20
Eager to Please    16
Easy Training      12
May be Stubborn     7
unknown             1
Name: count, dtype: int64

In [151]:
df_merged2['demeanor_category'].value_counts()

demeanor_category
Friendly                   26
Alert/Responsive           22
Reserved with Strangers    19
Outgoing                   12
Aloof/Wary                  2
unknown                     1
Name: count, dtype: int64

In [152]:
df_merged2['energy_level_category'].value_counts()

energy_level_category
Regular Exercise          36
Energetic                 29
Needs Lots of Activity    11
Calm                       4
unknown                    1
Couch Potato               1
Name: count, dtype: int64

In [153]:
print(df_merged2['temperament'].nunique())
df_merged2['temperament'].value_counts()

82

temperament
Friendly, Intelligent, Devoted        1
Friendly, Active, Outgoing            1
Friendly, Patient, Dependable         1
Bright, Fun-Loving, Active            1
Dignified, Smart, Outgoing            1
                                     ..
Confident, Smart, Good-Natured        1
Smart, Work-Oriented, Exuberant       1
Affectionate, Smart, Alert            1
Affectionate, Sprightly, Tomboyish    1
Adaptable, Playful, Smart             1
Name: count, Length: 82, dtype: int64

In [154]:
df_merged2.shape

(82, 18)

In [155]:
df_merged2.to_csv("../data/dog_breeds.csv", index=False)